<!--Start : Case Studies-->
<section class="2xl:max-w-screen-2xl xl:max-w-screen-[100rem] lg:max-w-screen-[85rem] w-full mx-auto px-4 md:px-6 lg:px-8 py-14 lg:py-24 xl:py-24 2xl:py-32">
    <div class="relative">
        <div class="grid grid-cols-12 gap-4 lg:gap-0">
            <div class="lg:col-span-4 col-span-12">
                <div>
                    <h3 class="text-xs lg:text-sm xl:text-sm 2xl:text-base text-[#194F97] font-medium">Projects
                    </h3>
                    <h1
                        class="mt-1.5 lg:mt-1.5 xl:mt-3 2xl:mt-5 2xl:text-5xl xl:text-4xl lg:text-4xl text-3xl font-gellix">
                        Check out Our Case Studies</h1>
                </div>
            </div>
            <div class="col-span-9 lg:block hidden"></div>
        </div>

        <div class="grid grid-cols-12 gap-4 mt-5 lg:mt-10">

            <div class="lg:col-span-4 col-span-12">
                <a href="./rupinis-cs-01.html" class="relative overflow-hidden group block cursor-pointer">
                    <img src="./src/assets/img/home/cs-01-final.png"
                        class="transition-transform group-hover:scale-110 duration-500 h-full lg:w-auto w-full">
                    <div class="absolute top-0 right-0">
                        <div class="inline-flex justify-start items-center space-x-3 p-5">
                            <h3 class="bg-white px-3 py-1 rounded-3xl text-black text-xs uppercase">BEAUTY</h3>
                            <h3 class="bg-white px-3 py-1 rounded-3xl text-black text-xs uppercase">SALOON</h3>
                        </div>
                    </div>
                    <div class="absolute inset-0 flex justify-end items-end">
                        <div
                            class="w-full bg-gradient-to-t from-[#9152a8b6] to-transparent p-5 transition-opacity duration-300 group-hover:from-[#9152A8] group-hover:to-transparent">
                            <p class="2xl:text-base xl:text-base lg:text-xs text-base text-white font-inter">
                                RUPINIS</p>
                            <div class="flex justify-start items-end">
                                <h1 class="text-xl lg:text-xl xl:text-xl 2xl:text-2xl text-white font-gellix pt-2">
                                    Revolutionizing Customer Relationship Management...
                                </h1>
                                <svg fill="none" height="40"
                                    class="-rotate-90 text-[#FFFF] transition-colors duration-300" viewBox="0 0 24 24"
                                    width="40" xmlns="http://www.w3.org/2000/svg" id="fi_10486492">
                                    <path
                                        d="m16 14.5858-8.99997-8.99998-1.41421 1.41421 8.99998 8.99997h-7.5858v2h11v-11h-2"
                                        fill="currentColor"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="lg:col-span-4 col-span-12">
                <a href="./dvi-cs-03.html" class="relative overflow-hidden group block cursor-pointer">
                    <img src="./src/assets/img/home/cs-02-final.png"
                        class="transition-transform group-hover:scale-110 duration-500 h-full lg:w-auto w-full">
                    <div class="absolute top-0 right-0">
                        <div class="inline-flex justify-start items-center space-x-3 p-5">
                            <h3 class="bg-white px-3 py-1 rounded-3xl text-black text-xs uppercase">
                                Travel</h3>
                            <h3 class="bg-white px-3 py-1 rounded-3xl text-black text-xs uppercase">
                                Tourism</h3>
                        </div>
                    </div>
                    <div class="absolute inset-0 flex justify-end items-end">
                        <div
                            class="w-full bg-gradient-to-t from-[#dd4a45ce] to-transparent p-5 transition-opacity duration-300 group-hover:from-[#DD4B45] group-hover:to-black/0">
                            <p class="2xl:text-base xl:text-base lg:text-xs text-sm text-white font-inter">DVI
                                HOLIDAYS</p>
                            <div class="flex justify-start items-end">
                                <h1 class="text-xl lg:text-xl xl:text-xl 2xl:text-2xl text-white font-gellix pt-2">
                                    Revolutionizing Customer Relationship Management...</h1>
                                <svg fill="none" height="40"
                                    class="-rotate-90 rounded-full text-[#FFFF] transition-colors duration-300"
                                    viewBox="0 0 24 24" width="40" xmlns="http://www.w3.org/2000/svg" id="fi_10486492">
                                    <path
                                        d="m16 14.5858-8.99997-8.99998-1.41421 1.41421 8.99998 8.99997h-7.5858v2h11v-11h-2"
                                        fill="currentColor"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="lg:col-span-4 col-span-12">
                <a href="./sidbi-cs-02.html" class="relative overflow-hidden group block cursor-pointer">
                    <img src="./src/assets/img/home/cs-03-final.png"
                        class="transition-transform group-hover:scale-110 duration-500 h-full lg:w-auto w-full">
                    <div class="absolute top-0 right-0">
                        <div class="inline-flex justify-start items-center space-x-3 p-5">
                            <h3 class="bg-white px-3 py-1 rounded-3xl text-black text-xs uppercase">
                                BANKING</h3>
                            <h3 class="bg-white px-3 py-1 rounded-3xl text-black text-xs uppercase">
                                FINANCE</h3>
                        </div>
                    </div>
                    <div class="absolute inset-0 flex justify-end items-end">
                        <div
                            class="w-full bg-gradient-to-t from-[#58a2b8ce] to-transparent p-5 transition-opacity duration-300 group-hover:from-[#58A1B8] group-hover:to-black/0">
                            <p class="2xl:text-base xl:text-base lg:text-xs text-sm text-white font-inter">SIDBI
                            </p>
                            <div class="flex justify-start items-end">
                                <h1 class="text-xl lg:text-xl xl:text-xl 2xl:text-2xl text-white font-gellix pt-2">
                                    Revolutionizing Customer Relationship Management...</h1>
                                <svg fill="none" height="40"
                                    class="relative z-10 ml-2 -rotate-90 text-white transition-colors"
                                    viewBox="0 0 24 24" width="40" xmlns="http://www.w3.org/2000/svg" id="fi_10486492">
                                    <path
                                        d="m16 14.5858-8.99997-8.99998-1.41421 1.41421 8.99998 8.99997h-7.5858v2h11v-11h-2"
                                        fill="currentColor"></path>
                                </svg>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
        </div>
    </div>
</section>
<!--End : Case Studies-->
