<!--Footer Re-use-->
<footer class="bg-[#043E8C]">
    <div
        class="space-y-8 py-16 lg:space-y-16 2xl:max-w-screen-2xl xl:max-w-screen-[100rem] lg:max-w-screen-[85rem] w-full mx-auto px-4 md:px-6 lg:px-8 font-inter">
        <div class="grid grid-cols-12 gap-4">
            <div class="lg:col-span-4 col-span-12">
                <div class="block lg:flex justify-start items-center gap-2 -mt-5 lg:mt-0">
                    <h1
                        class="2xl:text-3xl xl:text-2xl lg:text-xl text-xl font-gellix font-semibold text-white">
                        Follow Our Social
                        Networks</h1>
                    <div class="flex justify-start lg:justify-center items-center space-x-2 lg:mt-0 mt-4">
                        <a href="#"><img src="./src/assets/img/home/icons/linkedin-icon.svg" class="h-10"></a>
                        <a href="#"><img src="./src/assets/img/home/icons/instagram-icon.svg" class="h-10"></a>
                        <a href="#"><img src="./src/assets/img/home/icons/twitter-icon.svg" class="h-10"></a>
                        <a href="#"><img src="./src/assets/img/home/icons/fb-icon.svg" class="h-10"></a>
                    </div>
                </div>
            </div>
            <div class="col-span-1 lg:block hidden"></div>
            <div class="lg:col-span-3 col-span-12 lg:mt-0 mt-5">
                <h1 class="2xl:text-3xl xl:text-2xl lg:text-xl text-xl font-gellix font-semibold text-white">
                    Be
                    the First one to hear
                    About Updates</h1>
            </div>
            <div class="lg:col-span-4 col-span-12">
                <div class="max-w-md mx-auto overflow-hidden md:max-w-xl -ml-3 lg:ml-0">
                    <div class="md:flex">
                        <div class="w-full lg:p-0 p-3">
                            <div class="relative flex justify-start items-end">
                                <input type="text"
                                    class="bg-white h-14 w-full px-4 pr-20 focus:outline-none hover:cursor-pointer placeholder:black"
                                    name="" placeholder="Enter Your Email">
                                <button
                                    class="h-10 bg-[#194F97] absolute top-2 text-sm right-2 px-3 text-white hover:bg-blue-700 flex justify-start items-center space-x-3 uppercase">Subscribe
                                    <svg fill="none" height="24"
                                        class="relative z-10 ml-2 -rotate-90 text-white transition-colors"
                                        viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"
                                        id="fi_10486492">
                                        <path
                                            d="m16 14.5858-8.99997-8.99998-1.41421 1.41421 8.99998 8.99997h-7.5858v2h11v-11h-2"
                                            fill="currentColor"></path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="border border-t border-white/30"></div>

        <div class="grid grid-cols-1 gap-8 lg:grid-cols-6 -mt-14">

            <div class="text-white w-full col-span-2">

                <a href="./index.html">
                    <div class="">
                        <img src="./src/assets/img/touchmark-logowhite.svg" class="h-10">
                    </div>
                </a>

                <p
                    class="mt-7 lg:mt-10 xl:mt-10 2xl:mt-10 text-sm lg:text-[12px] xl:text-[12px] 2xl:text-sm text-white/80 font-inter font-regular">
                    Innovative Solutions Connecting Brands and Customers We provide full-service IT
                    consulting,
                    digital
                    marketing, and software development. Our objective is to use automation and rich media
                    to
                    close the gap that
                    exists between brands and consumers.
                </p>

                <div class="mt-7 lg:mt-10 xl:mt-10 2xl:mt-10 flex justify-start items-center space-x-3">
                    <img src="./src/assets/img/home/icons/phone-icon.svg">
                    <h3 class="font-inter font-semibold text-base lg:text-sm xl:text-sm 2xl:text-base">+91
                        44
                        4065
                        2648</h3>
                </div>

                <div class="mt-5 lg:mt-5 xl:mt-5 2xl:mt-5 flex justify-start items-center space-x-3">
                    <img src="./src/assets/img/home/icons/mail-icon.svg">
                    <h3 class="font-inter font-semibold text-base lg:text-sm xl:text-sm 2xl:text-base">
                        info@touchmarkdes.com</h3>
                </div>

            </div>

            <div
                class="grid grid-cols-1 gap-16 sm:grid-cols-2 lg:col-span-4 lg:grid-cols-3 mt-5 lg:mt-0 ml-0 lg:-ml-2.5">

                <div class="flex justify-start lg:justify-end items-start">
                    <div>
                        <p
                            class="font-semibold font-gellix text-white text-lg lg:text-lg xl:text-xl 2xl:text-2xl">
                            Quick Links
                        </p>
                        <ul
                            class="mt-5 space-y-3 text-sm lg:text-[12px] xl:text-[12px] 2xl:text-base font-inter font-regular">
                            <li>
                                <a href="./about-us.html"
                                    class="text-white/80 font-inter font-regular transition hover:text-white">
                                    Who
                                    we
                                    are </a>
                            </li>

                            <li>
                                <a href="#"
                                    class="text-white/80 font-inter font-regular transition hover:text-white">
                                    What we do </a>
                            </li>

                            <li>
                                <a href="./index.html#casestudy"
                                    class="text-white/80 font-inter font-regular transition hover:text-white">
                                    Case Studies </a>
                            </li>

                            <li>
                                <a href="#"
                                    class="text-white/80 font-inter font-regular transition hover:text-white">
                                    Blogs </a>
                            </li>

                            <li>
                                <a href="#"
                                    class="text-white/80 font-inter font-regular transition hover:text-white">
                                    E-Books </a>
                            </li>

                            <li>
                                <a href="./client&partner.html"
                                    class="text-white/80 font-inter font-regular transition hover:text-white">
                                    Clients and Partners
                                </a>
                            </li>

                            <li>
                                <a href="./contact-us.html"
                                    class="text-white/80 font-inter font-regular transition hover:text-white">
                                    Contact us </a>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="flex justify-start lg:justify-center items-start">
                    <div>
                        <p
                            class="font-semibold font-gellix text-white text-lg lg:text-lg xl:text-xl 2xl:text-2xl">
                            Services</p>
                        <ul
                            class="mt-5 space-y-3 text-sm lg:text-[12px] xl:text-[12px] 2xl:text-base font-inter font-regular">
                            <li>
                                <a href="./t&c-service.html"
                                    class="text-white/80 font-inter font-regular hover:text-white transition">Technology
                                    Consulting</a>
                            </li>

                            <li>
                                <a href="./cloud.html"
                                    class="text-white/80 font-inter font-regular hover:text-white transition">
                                    Cloud
                                </a>
                            </li>

                            <li>
                                <a href="./s&c-service.html"
                                    class="text-white/80 font-inter font-regular hover:text-white transition">
                                    Sales & Commerce
                                </a>
                            </li>

                            <li>
                                <a href="./mv-service.html"
                                    class="text-white/80 font-inter font-regular hover:text-white transition">
                                    Metaverse </a>
                            </li>

                            <li>
                                <a href="./d&a-service.html"
                                    class="text-white/80 font-inter font-regular hover:text-white transition">
                                    Data & Analytics
                                </a>
                            </li>

                            <li>
                                <a href="./ai&ml-service.html"
                                    class="text-white/80 font-inter font-regular hover:text-white transition">
                                    AI & ML </a>
                            </li>

                            <li>
                                <a href="./rpa-service.html"
                                    class="text-white/80 font-inter font-regular hover:text-white transition">
                                    Robotic Process
                                    Automation </a>
                            </li>

                        </ul>
                    </div>
                </div>

                <div class="flex justify-start lg:justify-end items-start">
                    <div>
                        <p
                            class="font-semibold font-gellix text-white text-lg lg:text-lg xl:text-xl 2xl:text-2xl">
                            Industries
                        </p>
                        <ul
                            class="mt-5 space-y-3 text-sm lg:text-[12px] xl:text-[12px] 2xl:text-base font-regular font-inter">
                            <li>
                                <a href="./areo.industry.html"
                                    class="text-white/80 font-inter font-regular hover:text-white transition">
                                    Aerospace & Defence
                                </a>
                            </li>

                            <li>
                                <a href="./bfsi-industry.html"
                                    class="text-white/80 font-inter font-regular hover:text-white transition">
                                    BFSI </a>
                            </li>

                            <li>
                                <a href="./es&g-industry.html"
                                    class="text-white/80 font-inter font-regular hover:text-white transition">
                                    Environmental,
                                    social, and governance </a>
                            </li>

                            <li>
                                <a href="./fmcg-industry.html"
                                    class="text-white/80 font-inter font-regular hover:text-white transition">
                                    Fast-Moving Consumer
                                    Goods </a>
                            </li>

                            <li>
                                <a href="./hc-industry.html"
                                    class="text-white/80 font-inter font-regular hover:text-white transition">
                                    Healthcare </a>
                            </li>


                            <li>
                                <a href="./mining-industry.html"
                                    class="text-white/80 font-inter font-regular hover:text-white transition">
                                    Mining </a>
                            </li>


                            <li>
                                <a href="./gt-industry.html"
                                    class="text-white/80 font-inter font-regular hover:text-white transition">
                                    Geospatial Tech </a>
                            </li>

                            <li>
                                <a href="./m&e-industry.html"
                                    class="text-white/80 font-inter font-regular hover:text-white transition">
                                    Media and
                                    Entertainment </a>
                            </li>

                            <li>
                                <a href="./real-estate-industry.html"
                                    class="text-white/80 font-inter font-regular hover:text-white transition">
                                    Real Estate </a>
                            </li>


                            <li>
                                <a href="./t&t-industry.html"
                                    class="text-white/80 font-inter font-regular hover:text-white transition">
                                    Travel and Tourism 
                                </a>
                            </li>


                        </ul>
                    </div>
                </div>

            </div>

        </div>

        <div>
            <div class="border border-t border-white/30"></div>
            <div
                class="text-white block lg:flex justify-center items-center text-center lg:space-y-0 space-y-3 lg:space-x-5 pt-10">
                <h3 class="text-[12px]">© 2010-2024 Touchmark Descience Pvt. Ltd</h3>
                <div class="flex justify-center items-center space-x-3 text-[12px]">
                    <a href="#"><h3>Terms of Use</h3></a>
                    <h3>┃</h3>
                    <a href="#"><h3>Privacy Policy</h3></a>
                </div>
            </div>
        </div>

    </div>
</footer>

